.img{
    width: 100%;
    background-image: url('../../../assets/received_655190985068488.jpeg');
    background-size:     cover; 
    height: 500px;
    box-shadow: 5px 10px 5px 5px rgb(220, 239, 241);
}
.shad{
    box-shadow: 5px 10px 5px 5px rgb(220, 239, 241);
    border: 1px solid silver;
    button{
        background-color: rgb(107, 107, 107);
        color:white
    }
}
.container{
    width: 30%;
}

@media only screen and (max-width: 1000px) {
    .container{
        width: 90%; 
    }
}

.id{
        background-color: rgb(218, 68, 68);
        border: 1px solid rgb(218, 68, 68);
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        margin-top: -15px;
        margin-left: -25px;
}
.user, .names{
    padding-top: 50px;
}
.circle{
    border: 2px solid white;
    background-color: skyblue ;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}